
@model Employee.Models.EmployeeMaster
@{

    ViewBag.Title = @Model.EmployeeNameWithInitial;
}


   <div class="container">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            @*<legend>@Model.EmployeeFullName</legend>*@

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Full Name</label>
                <div class="col-md-4 inputGroupContainer">
                   
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"> @Model.EmployeeFullName</i></span>
                        </label>
                       @* <input name="first_name" placeholder=@Model.EmployeeName class="form-control" type="text">*@
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Name For ETF</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"> @Model.EmployeeNameWithInitial</i></span>
                            </label>
                                @*  <input name="last_name" placeholder="Last Name" class="form-control" type="text">*@
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    
                        <div class="input-group">
                            <label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"> @Model.EmployeeContact.EmployeeEmail</i></span>
                                @*<input name="email" placeholder="E-Mail Address" class="form-control" type="text">*@
                            </label>
                        </div>
                   
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Home #</label>

                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"> @Model.EmployeeContact.EmployeeHomeNo</i></span>
                            @* <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">*@
                        </label>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Mobile #</label>

                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"> @Model.EmployeeContact.EmployeeMobileNo</i></span>
                            @* <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">*@
                        </label>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Address 1</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"> @Model.EmployeeContact.EmployeeAddress.Addressline1</i></span>
                         </label>
                                @*<input name="address" placeholder="Address" class="form-control" type="text">*@
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Address 2</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"> @Model.EmployeeContact.EmployeeAddress.Addressline2</i></span></i></span>
                            @* <input name="address" placeholder="Address" class="form-control" type="text">*@
                           </label>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Address 3</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"> @Model.EmployeeContact.EmployeeAddress.Addressline3</i></span>
                            @*<input name="address" placeholder="Address" class="form-control" type="text">*@
                         </label>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Country </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"> @Model.EmployeeContact.EmployeeAddress.Country</i></span>
                            @*<input name="zip" placeholder="Zip Code" class="form-control" type="text">*@
                        </label>
                    </div>
                </div>
            </div>

            

        </fieldset>
    </form>
</div>
   